---
import Background from "@/components/deco/Background.astro";
import Glow from "@/components/deco/Glow.astro";
import "@/styles/global.css";
import { Icon } from "astro-icon/components";

import SEO from "@/components/shared/SEO.astro";

interface Props {
  title: string;
  description?: string;
  class?: string;
  keywords?: string;
  canonicalPath?: string;
  openGraphImage?: string;
}

const { title, openGraphImage, canonicalPath, description, keywords } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <SEO {title} {openGraphImage} {canonicalPath} {description} {keywords} />
  </head>
  <body class:list={["bg-bkg relative min-h-screen"]}>
    <Glow />
    <Background />
    <a href="/"
      ><Icon
        name="advantics"
        class:list={[
          "text-accent col-span-5 mx-auto my-8 h-auto w-1/3 transition-colors",
        ]}
      /></a
    >
    <main
      class="xl:9xl:grid-cols-3 9xl:max-w-9xl mx-auto mt-10 grid max-w-fit gap-x-22 gap-y-4 xl:grid-cols-2"
    >
      <slot />
    </main>
  </body>
</html>
